<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.username">root</property>
		<property name="connection.password">12345</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql:///JavaTest</property>


		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<property name="use_identifier_roolback">true</property>
		<property name="connection.isolation">2</property>

		<!-- Configure C3P0 data pool -->
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="c3p0.acquire_increment">2</property>

		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.timeout">2000</property>

		<property name="c3p0.max_statements">10</property>

		<!-- Setting how many Statements can be read and written from JDBC once -->
		<property name="hibernate.jdbc.fetch_size">100</property>

		<property name="jdbc.batch_size">30</property>

		<mapping resource="com/tony/hibernate/entities/Department.hbm.xml" />
		<mapping resource="com/tony/hibernate/entities/Employee.hbm.xml" />

	</session-factory>
</hibernate-configuration>
